@model IEnumerable<EntityFrameworkExample.Models.Barrel>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h2>Barrels</h2>
        </div>
        <div class="col-sm-4">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CurrentLocation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contents)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contents)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

}
            </table>
        </div>
    </div>
        </div>


