<!DOCTYPE html>
<html>  
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<body>
    <div class="row navbar-row">
        <div class="col-sm-4 navbar-header">
            <h1>Best Storage Solution</h1>
        </div>
        <div class="col-sm-2"></div>
        <a href="/Barrel/Index">
            <div class="col-sm-2">
                <div class="navbar-button">
                    Barrels
                </div>
            </div>
        </a>
        <a href="/Cube/Index">
            <div class="col-sm-2">
                <div class="navbar-button">
                    Cube
                </div>
            </div>
        </a>
        <a href="/Login/About">
            <div class="col-sm-2">
                <div class="navbar-button">
                    About
                </div>
            </div>
        </a>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <sub>Created by the best programmers sitting at that back table, yeah that third one from the left</sub>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
